<div class="region">
  <div class="layout layout--wide">
    <!-- demo doormat component in grid -->
    <ul class="grid grid--is-stacked js-equal-height-container">
      {{#each menus as |menu|}}
        <li class="col--4-12 col--6-12--m col--12-12--xs">
          {{#link-to menu class="doormat js-equal-height"}}
            <h2 class="doormat__title" data-clamp="2">{{t (humanize menu)}}</h2>
            <div class="doormat__text" data-clamp="3">
              {{t (humanize (concat "Overview of " menu))}}
            </div>
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
