<div class="iwgh2 iw2-retina-disabled iw2-no-mobile  iw2-mobile-supported  iwgh2-redesign-alt iw2-responsive iwgh2-non-sticky iwgh2-default-margin iw2-js iw2-desktop-mode-active" aria-live="off" lang="nl">
  <div class="iwgh2-bar">
    <div class="iw2-layout iw2-default-breakpoint">
      <div class="iw2-wrapper iw2-default-margin">
        <div class="iw2-inner-wrapper">
          <div class="iwgh2-navigation">
            <a class="iw2-not-branded" href="https://www.vlaanderen.be/nl" target="_self">
              <span>Vlaanderen</span>
            </a>
            <div class="iw2-menu iw2-menu-no-items">
              <div class="iwgh2-navigation-menu-toggle-wrapper">
                <a class="iwgh2-navigation-menu-site" href="http://www.toerismevlaanderen.be/">TOERISMEVLAANDEREN</a>
              </div>
            </div>
            <div class="iw2-menu iw2-menu-no-items">
              <div class="iwgh2-navigation-menu-toggle-wrapper">
                <a class="iwgh2-navigation-menu-site" href="https://data.toerismevlaanderen.be/">OPEN DATAPORTAAL</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
