@import 'ember-vo-webuniversum-data-table';
@import 'openapi';

$has-many-relation-page-size: 20;

.yasgui-container {
  margin: 0 5px;
}

.actions {
  margin: 0 5px;
}

.page h2,
.content h2 {
  margin-left: 5px;
}

td > span,
dd > span,
td > a,
dd > a {
  display: block;
}

.language-string-set__language {
  color: #999;
}

.properties__data__limit {
  display: none
}

a:nth-child(#{$has-many-relation-page-size}) + .properties__data__limit {
  display: block;
  margin-left: 20px;
  margin-top: 5px;
  color: #666;
  font-size: 0.9em;
  font-style: italic;

  &:before {
    content: '(';
  }

  &:after {
    content: ')';
  }
}

/* Webuniversum tweaks */
header.content-header,
header.content-header .content-header__entity-logo {
  background-color: #eee;
}

header.content-header--small .content-header__wrapper > .layout {
  padding: 15px 0;
  min-height: 0;
}

header.content-header .content-header__application {
  display: inline;

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #373636;
    font-size: 1.125em;
    font-weight: 400;
  }
}

footer.iwgf2 {
  position: fixed;
  left: 0;
  bottom: 0;
}

.main-content {
  padding-bottom: 50px;
}
