{{page-title "Toerisme Vlaanderen | Linked Open Data"}}

<VoHeader />

<main id="main" class="au-c-main-container">
  <div class="au-c-main-container__content au-c-main-container__content--scroll" id="content">
    <div>
      {{outlet}}
    </div>
  </div>
</main>

<VoFooter />