<div class="region">
  <div class="layout layout--wide">
    <div class="grid u-spacer--tb--large">
      <div class="col--12-12 u-spacer--bottom">
        <h2 class="h2">Data dumps</h2>
        <p>Overzicht van beschikbare data dumps.</p>
      </div>
      <div class="col--4-12 col--12-12--s u-align-right--medium-up">
        {{wu-document-miniature class="u-spacer--bottom" type="TTL"
            label=model.title
            metadata=model.description onClick=(action "download" model)}}
      </div>
    </div>
  </div>
</div>

{{outlet}}