<section class="region">
  <div class="layout layout--wide">
    <div class="grid">
      <div class="col--12-12">
        <div class="loader"><span class="u-visually-hidden">Aan het laden</span></div>
      </div>
    </div>
  </div>
</section>