{{page-title "SPARQL Endpoint"}}

<div class="au-o-layout">
  <div class="au-o-region">

    <div class="au-u-margin-top-large au-u-margin-bottom">
      <AuHeading @level="2" @skin="2">
        SPARQL endpoint
      </AuHeading>
      <p class="au-u-para-lead">
        Explore the published data using SPARQL queries
      </p>
    </div>

    {{#if this.fastboot.isFastBoot}}
      <p class="au-u-h-functional">Aan het laden...</p>
      <AuLoader />
    {{else}}
      <div {{yasgui}}></div>
      {{outlet}}
    {{/if}}
  </div>
</div>