<div class="region">
  <div class="layout layout--wide">
    <div class="grid u-spacer--tb--large">
      <div class="col--12-12 u-spacer--bottom">
        <h2 class="h2">Subject pages</h2>
        <p>Overview of the entity types.</p>
      </div>
      {{models-overview}}
    </div>
  </div>
</div>

{{outlet}}